<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true" internalLogLevel="Trace" 
	  internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<targets>
			<target name="emaillogfile" xsi:type="File" fileName="\logs\alertlogs\${shortdate}_emaillogfile.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
			<target name="alertlogfile" xsi:type="File" fileName="\logs\emaillogs\${shortdate}_alertlogfile.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
			<target name="logfile" xsi:type="File" fileName="\logs\logs\${shortdate}_logfile.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
		</targets>
	</targets>
	
	<rules>
		<logger name="Service.EmailService" minlevel="Info" writeTo="emaillogfile" />
		<logger name="Service.NotificationService" minlevel="Info" writeTo="alertlogfile" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		
	</rules>
</nlog>
